body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.hero {
    font-size: larger;
    background-color: #003b8b;
    color: white;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images-comparison img{
    padding: 0.5rem;
    background-color: #003b8b;
    border-radius: 10%;
    width: 200px ;
    height: 200px;
}
.hero-text {
    max-width: 700px;
    text-align: left;
    margin: 5rem;
}
#foto_hero{
    width: 23rem;
    height: auto;
}
.section {
    padding: 30px 20px;
    text-align: center;
}
.azul{
  background-color: #00AFFF;
  color: black;
}
.video-item iframe {
    width: 23rem;
    height: 40rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section2 {
    padding: 30px 20px;
    background-color: #003b8b;
    text-align: center;
    color: wbhite;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 3rem;
}
.card {
    max-width: 250px;
    padding: 1rem;
    margin: auto 3rem;
    border: 1px solid #ccc; /* Borda cinza clara */
    border-radius: 8px;      /* Bordas levemente arredondadas (opcional) */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Sombra leve (opcional) */
}
.card2 {
    max-width: 250px;
    padding: 1rem;
    margin: auto 3rem;
    border: 2px solid #194b92; /* Borda cinza clara */
    border-radius: 8px;      /* Bordas levemente arredondadas (opcional) */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Sombra leve (opcional) */
    background-color: #003b8b;
    color: white;
}

.images-comparison {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 20px 0;
    flex-wrap: wrap;
}
.diffs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    text-align: center;
    margin-top: 30px;
}
.diffs div {
    max-width: 200px;
}
.whatsapp {
    background-color: #25d366;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 30px;
}
footer{
    background-color: #003b8b;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}
 .timeline {
      position: relative;
      max-width: 800px;
      margin: 1rem auto;
    }

    .timeline::before {
      content: '';
      position:absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 4px;
      height: 90%;
      background-color: #003b8b;

    }

    .step {
      position: relative;
      width: 50%;
      padding: 1rem 2rem;
      box-sizing: border-box;
    }

    .step::before {
      content: attr(data-step);
      position: absolute;
      top: 1rem;
      width: 30px;
      height: 30px;
      background-color: #003b8b;
      color: white;
      font-weight: bold;
      text-align: center;
      line-height: 30px;
      border-radius: 50%;
      z-index: 2;
    }

    .step h3 {
      margin: 0 0 5px;
      color: black;
    }

    .step p {
      margin: 0;
      color: black;
    }

    .left {
      left: 0;
      text-align: right;
    }

    .left::before {
      right: -15px;
    }

    .right {
      left: 50%;
      text-align: left;
    }

    .right::before {
      left: -15px;
    }


@media (max-width: 768px) {
        .hero {
        font-size: larger;
        background-color: #003b8b;
        color: white;
        padding: 15px 10px;
        display: block;
        align-items: center;
        text-align: center;
    }
    .hero-text{
        text-align: center;
        margin: 2rem;
    }

}